.cardModalPhone {
  background: rgba(247, 246, 246, 0.84);
  border-radius: 16px;
  font-family: "Mulish";
  font-style: normal;
  padding: 18px 12px 13px 20px;
}

.modalPhone-title {
  font-weight: normal;
  font-size: 24px;
  line-height: 100%;
  color: #323f4b;
  margin-bottom: 18px;
}

.modalPhone-desc {
  font-weight: bold;
  font-size: 16px;
  line-height: 150%;
  text-align: center;
  color: #00172e;
  margin-bottom: 24px;
}

.modalPhone-notification {
  padding: 5px 15px;
}

.bi-info-circle {
  margin-left: 0px;
  margin-right: 5px;
  color: orange;
  flex-shrink: 0;
}

.modalPhone-notification-title {
  font-weight: normal;
  font-size: 12px;
  line-height: 18px;
  color: rgba(4, 17, 62, 0.7);
}

.form-modalphone {
  background: rgba(255, 255, 255, 0.3);
  box-sizing: border-box;
  margin-bottom: 6px;
}

.form-select-modalphone {
  border-radius: 30px 0px 0px 30px;
}

.form-input-modalphone {
  border-radius: 0px 30px 30px 0px;
}

.form-input-modalphone {
  position: relative;
}

.iconChervonright {
  position: absolute;
  right: 15px;
  top: 8px;
}
